{% extends "clientes/base.html" %}
{% block content %}
<div class="container mt-5">
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> Nombre de usuario o contraseña incorrectos
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
