{% extends "clientes/base.html" %}
{% block content %}
    <div class="container mt-5">
        <h1>Editar datos Cliente</h1>
        <br>
        <div class="d-flex justify-content-between mb-3">
            <button type="button" class="btn btn-primary">
                <a href="{% url 'clientesAdd' %}" class="text-white">Agregar</a>
            </button>
            <button type="button" class="btn btn-secondary">
                <a href="{% url 'reserva_list' %}" class="text-white">Ver Reservas</a>
            </button>
            <button type="button" class="btn btn-info">
                <a href="{% url 'crud_producto' %}" class="text-white">Ver Productos</a>
            </button>
        </div>
        <div id="idMensaje">
            {% if mensaje %}
                <div class="alert alert-success">
                    {{ mensaje }}
                </div>
            {% endif %}
        </div>

        <table class="table table-striped">
            {% if clientes %}
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID cliente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in clientes %}
                        <tr>
                            <td>{{ x.id }}</td>
                            <td>{{ x.nombre }}</td>
                            <td>{{ x.apellido }}</td>
                            <td>{{ x.fecha_nacimiento }}</td>
                            <td>{{ x.email }}</td>
                            <td>{{ x.password }}</td>
                            <td>{{ x.user }}</td>
                            <td>
                                <a href="{% url 'clientes_findEdit' pk=x.id %}" class="btn btn-warning btn-sm">Modificar</a>
                                <a href="{% url 'clientes_del' pk=x.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tr>
                    <td colspan="8" class="text-center">No hay clientes disponibles</td>
                </tr>
            {% endif %}
        </table>

        <div class="d-flex justify-content-end mt-4">
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
            </form>
        </div>
    </div>
{% endblock %}