{% extends "clientes/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Regístrate</h2>
                    {% if mensaje %}
                    <div class="alert alert-primary" role="alert" id="idMensaje">
                        {{ mensaje }}
                    </div>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_nombre">Username:</label>
                            <input type="text" class="form-control" id="id_nombre" name="nombre" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="id_email">Email address:</label>
                            <input type="email" class="form-control" id="id_email" name="email" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="id_password">Password:</label>
                            <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#idMensaje").delay(2000).fadeOut("slow");
    });
</script>
{% endblock %}
