{% extends "clientes/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-container">
                        <h2 class="card-title">Reservar cita</h2>
                        <form id="reservationForm" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                                {{ form.nombre }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">Correo Electrónico:</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
                                {{ form.telefono }}
                                <small>Formato: +569XXXXXXXX</small>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.fecha_reserva.id_for_label }}">Fecha:</label>
                                {{ form.fecha_reserva }}
                                <small>tiene que solicitar a fechas futuras</small>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.hora.id_for_label }}">Hora:</label>
                                {{ form.hora }}
                                <small>hora desde las 12 hasta las 19</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                        <div class="alert" role="alert" id="idMensaje">
                            {% if mensaje %}
                                {{ mensaje }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
