<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninnin</title>
    {% load static %}
    <!-- Estilos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Layout/style.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'Components/icons/icono.svg' %}">
</head>

<body>
    <!-- Navbar -->
    {% include 'mysite/Components/navbar.html' %}

    <div class="container">
        <h1 class="mt-5 text-center">🏮Categorías de Comida🏮</h1>
        <div id="categorias" class="row mt-3 justify-content-center"></div>
    </div>
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" id="previousPage"><a class="page-link page-footer" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link page-footer" href="#" data-page="1">1</a></li>
                <li class="page-item"><a class="page-link page-footer" href="#" data-page="2">2</a></li>
                <li class="page-item"><a class="page-link page-footer" href="#" data-page="3">3</a></li>
                <li class="page-item" id="nextPage"><a class="page-link page-footer" href="#">Next</a></li>
            </ul>
        </nav>
    </div>

    <div id="categorias" class="row"></div>

    <!-- jQuery y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

    <!-- Footer -->
    {% include 'mysite/Components/footer.html' %}

    <!-- Script personalizado -->
    <script src="{% static 'Components/script.js' %}"></script>
</body>

</html>
