{% extends "clientes/base.html" %}
{%block content %}

    <div class="container">
        <h1 class="mt-5 text-center">🏮Categorías de Comida🏮</h1>
        <div id="categorias" class="row mt-3 justify-content-center"></div>
    </div>
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" id="previousPage"><a class="page-link page-footer" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link page-footer" href="#" data-page="1">1</a></li>
                <li class="page-item"><a class="page-link page-footer" href="#" data-page="2">2</a></li>
                <li class="page-item"><a class="page-link page-footer" href="#" data-page="3">3</a></li>
                <li class="page-item" id="nextPage"><a class="page-link page-footer" href="#">Next</a></li>
            </ul>
        </nav>
    </div>

    <div id="categorias" class="row"></div>
{% endblock %}
