{% extends "clientes/base.html" %}
{% load static %}

{% block content %}
    <div class="alert alert-info text-center" role="alert">
        ¡Aprovecha nuestras promociones especiales por tiempo limitado!
    </div>

    <!-- Contenedor para la tarjeta de promoción especial -->
    <div id="promocion" class="card bg-dark text-white">
        <div class="row">
            <!-- Imagen 1 -->
            <div class="col-md-4">
                <img src="{% static 'Components/images/image1.jpg' %}" class="card-img" alt="">
            </div>
            <!-- Imagen 2 -->
            <div class="col-md-4">
                <img src="{% static 'Components/images/image2.jpg' %}" class="card-img" alt="">
            </div>
            <!-- Imagen 3 -->
            <div class="col-md-4">
                <img src="{% static 'Components/images/image3.jpg' %}" class="card-img" alt="">
            </div>
        </div>
        <div class="card-img-overlay bg-brown">
            <h1 class="card-title borde-negro">🏮 Promoción Ninnin Especial 🏮</h1>
            <br>
            <h2 class="card-text borde-negro">Desert + Ninnin Picante + Vegan por 20.000 CLP</h2>
            <h2 class="card-text borde-negro">💸 CON UN 50% DE DESCUENTO 💸</h2>
        </div>
    </div>

    <!-- Tres tarjetas pequeñas con imágenes aleatorias -->
    <div class="container mt-4">
        <div class="row">
            <!-- Tarjeta 1 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="background-color:#FCD1A0 ;">
                    <img src="{% static 'Components/images/small_image1.jpg' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">🍽️ ¡Disfruta con nosotros! 🍽️</h5>
                        <p class="card-text"> Plato de la semana por 5.000 🐉 </p>
                    </div>
                </div>
            </div>
            <!-- Tarjeta 2 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="background-color:#FCD1A0 ;">
                    <img src="{% static 'Components/images/small_image2.jpg' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">🥗 ¡Tu día con energía! 🥗</h5>
                        <p class="card-text">Oferta 2X1 🤑 </p>
                    </div>
                </div>
            </div>
            <!-- Tarjeta 3 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="background-color:#FCD1A0 ;">
                    <img src="{% static 'Components/images/small_image3.jpg' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">✨ ¡Saborea la experiencia! ✨</h5>
                        <p class="card-text">Compras superiores a 15.000 gana un Ninnin🥡</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
