{% extends "clientes/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-container">
                        <h2 class="card-title">Añadir Reserva</h2>
                        <form id="reservationForm" action="{% url 'reserva_add' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                                {{ form.nombre }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">Correo Electrónico:</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
                                {{ form.telefono }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.fecha_reserva.id_for_label }}">Fecha:</label>
                                {{ form.fecha_reserva }}
                                <small>Tiene que solicitar a fechas futuras</small>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.hora.id_for_label }}">Hora:</label>
                                {{ form.hora }}
                                <small>Hora desde las 12 hasta las 19</small>
                            </div>
                            <div class="form-group">
                                <label for="cliente">Seleccionar Cliente:</label>
                                <select class="form-control" id="cliente" name="cliente" required>
                                    {% for cliente in clientes %}
                                        <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="{% url 'reserva_list' %}" class="btn btn-secondary ml-2">Ver Reservas</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

